head
  meta(charset='utf-8')
  //- Chrome frame
  meta(http-equiv="X-UA-Compatible", content="chrome=1")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  // bootstrap 3 in production
  // link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")

  // Bootstrap 3 in development
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")

  // Need to clean this up and rename
  link(rel='stylesheet', href='/css/dylans-shit.css')
  // Pat - we should rename room.css to something more global
  link(rel='stylesheet', href='/css/views/rooms.css')

  // Do we want javascript in the footer?
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js")
  script(src="/js/templates.js")

  script(type='text/javascript', src='//use.typekit.net/anw3cfo.js')
  script.
    try{Typekit.load();}catch(e){}
