head
  meta(charset='utf-8')
  //- Chrome frame
  meta(http-equiv="X-UA-Compatible", content="chrome=1")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  // bootstrap 3 in production
  // link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")

  // Bootstrap 3 in development
  link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")

  // New css to clean everything up
  link(rel='stylesheet', href='/css/main.css');

  //Font Awesome
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js")
  script(src="/js/templates.js")

  // Sir Tevor Stuffs
  link(rel="stylesheet", href="/lib/sir-trevor-js/sir-trevor-icons.css")
  link(rel="stylesheet", href="/lib/sir-trevor-js/sir-trevor.css")
  script(type='text/javascript', src='/lib/underscore/underscore-min.js')
  script(type='text/javascript', src='/lib/Eventable/eventable.js')
  script(type='text/javascript', src='/lib/sir-trevor-js/sir-trevor.js')
  script(type='text/javascript', src='/st-upload.js')

  script(type='text/javascript', src='//use.typekit.net/anw3cfo.js')
  script.
    try{Typekit.load();}catch(e){}
