.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .logotab
          h1
            img(src='/img/doxyme-logo-blk.png', height='60', alt='Doxy.me')
      .navbar-collapse.collapse
        ul.nav.navbar-nav.pull-right
          //
             This will be the Signup button eventually 
          li.divider-vertical
          li
            a(href='i/signin') Signin
