.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .logotab
          img(src='/img/doxyme-logo-blk.png', height='60', alt='Doxy.me')
      .navbar-collapse.collapse
        if rooms
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | User
                b.caret
              ul.dropdown-menu
                li
                  a(href='/i/signout') Sign Out
        else
          form.nav-margin.navbar-form.navbar-right(name="signin", action='/i/signin', method='post')
            input(type='hidden', name='_csrf', value=csrf_token)
            .form-group
              input.form-control(type='email', name='email', placeholder='Email')
            .form-group
              input.form-control(type='password', name='password', placeholder='Password')
            button.btn.btn-signin(type='submit') Sign in
            a.text-muted(href='#') Forgot Password?
            a.text-muted(href='/i/request') Sign Up
