mixin chat()
  .chat-box
    ul.messages
      li.patient
        p What seems to be the problem?
      li.doctor
        p Everything hurts.
    .message-entry
      input.entry(type="text")
      button Send
