extends ../layout
include ./session

block content
  - isDemo = isDemo || false
  script(src="/js/dashboard.js")

  .row.dash
    #rooms.col-lg-2.droptop
      for room in rooms
        .row
          .room(id=room.slug)
            .roomname
              i.glyphicon.glyphicon-user#dricon
              h2= room.name
            #dash-arrow
            h4 Waiting Patients
            i.glyphicon.glyphicon-chevron-down#waitingchev
            ul.session-list
              if room.sessions
                for session in room.sessions
                  +session(session)
            script.
              listenForSessionsOnRoom(!{JSON.stringify(room)}, !{isDemo})
    .col-lg-8.droptop
      form
        .errors
        textarea.js-st-instance
  #myPublisherDiv
  #theirPublisherDiv
  #active-chat

  script.
    SirTrevor.DEBUG = true
    new SirTrevor.Editor({ el: $('.js-st-instance'), blockTypes: ["Text", "Image", "Video"] })
 
