extends ../layout
include ./session

block content
  include ../includes/navbar
  script(src="/js/dashboard.js")

  #video
    #theirPublisherDiv

  #rooms
    .row
      for room in rooms
        .room(id=room.slug)
          .col-md-2
            h2= room.name
            h4 Waiting Patients
            ul.session-list
              if room.sessions
                for session in room.sessions
                  +session(session)
            script.
              listenForSessionsOnRoom(!{JSON.stringify(room)})
      .col-md-8
        form
          .errors
          textarea.js-st-instance
      .col-md-2
        #myPublisherDiv

  #diagnostic
    img(src='http://www.uh.edu/engines/sound-wave.jpg', width='125px')

  script.
    SirTrevor.DEBUG = true
    new SirTrevor.Editor({ el: $('.js-st-instance'), blockTypes: ["Text", "Image", "Video"] })
