extends ../layout

block content
  #checkin-bg.checkin-bg

  #video.pull-right
    #checkin.checkin
      #checkin-text.tk-freight-sans-pro
        h4 Welcome! {Dr. Someone} will be with you shortly
        p Please check in and let the doctor know you are here:
      input.name(type="text", placeholder="Enter your name here...")
      button.sendName Check In
      #previewtext
        p webcam <br> preview
      #mirror.mirror
    .chat.open

  #theirPublisherDiv

  #promptArrow
    span.promptContainer
      span.triangle
      span.box
    p Hit "Allow" to continue.

  #dash-button
      #nav-arrow.nav-arrow-open
  .nav-help.col-lg-2.tk-freight-sans-pro.nav-open
    .logotab
          a(href='/')
            img(src='/img/doxyme-logo-blk.png', height='40', alt='Doxy.me')
    ul
      li
        a.nav-help(href='http://tokbox.com/user-diagnostic/', target='_blank')
          | Troubleshooter
          i.glyphicon.glyphicon-wrench
      li
        a#toggle.nav-help(href='#', onclick='return false')
          | Toggle Fullscreen
          i.glyphicon.glyphicon-fullscreen
      // li
      //   a.nav-help(href='/quick/meeting')
      //     | Quick Meeting
      //     i.iconHidden &#128101;
      // li
      //   a.nav-help(href='/#/about')
      //     | About
      //     i.iconHidden &#59170;

  script(src='/js/room.js')
  script.
    callDoctor(
      "!{sessionId}"
    , "!{token}"
    , "!{API_KEY}"
    , 'mirror'
    , 'theirPublisherDiv'
    , function(sendAvatar, sendName, session) {

      $('input.name').keyup(function(e) {
        if(e.which === 13)
          sendStuff()
      })
      sendStuff = function() {
        sendName($('input.name').val());
        sendAvatar();
      }
      $('button.sendName').click(function() {
        //- sendStuff()
        // Pat This is where the javascript goes
        // $('.class').remove('classYouWantRemoved')
        // $('#id').hide()
        $("#checkin-text").hide('1000');
        $(".name").hide('1000');
        $(".sendName").hide('1000');
        $("#previewtext").hide('1000');
        $("#mirror").addClass("mirrorSide");
        $("#checkin").toggleClass("checkinDone checkin");
        $("#checkin-bg").addClass('checkin-bgDone');
      });


      var chatTemplate = templatizer.public.chat.chat('patient', session)
      
      $('.chat').html(chatTemplate)

    })

    new EventSource('/session/!{_id}')

    $("#nav-arrow").on('click', function() {
      $(".nav-help").toggleClass("nav-closed nav-open");
      $("#nav-arrow").toggleClass("nav-arrow-closed");
    });


