extends ../layout

block content
  #video.pull-right
    #mirror
    input.name(type="text", placeholder="Type your name here")
    button.sendName Check in
    .chat.open

  #doctor

  #promptArrow
    span.promptContainer
      span.triangle
      span.box
    p Hit "Allow" to continue.
  .nav-help
    ul
      li
        a.nav-help(href='mailto:recipient@example.com?Subject=Doxy.me%20meeting%20invitation&Body=Hi%20there!%0D%0DYou\'ve%20been%20invited%20to%20a%20Doxy.me%20meeting!%0D%0DGo%20to%20https://origin/drclark room%0D%0DWe%20hope%20you%20have%20a%20wonderful%20experience%20using%20Doxy.me.%20If%20you%20get%20a%20chance,%20please%20let%20us%20know%20how%20it%20worked%20for%20you:%20http://tiny.cc/0g5iyw', target='_blank')
          | Email this link
          i.iconHidden &#9993;
      li
        a.nav-help(href='http://tokbox.com/user-diagnostic/', target='_blank')
          | Diagnostic Tool
          i.iconHidden &#10067;
      li
        a#toggle.nav-help(href='#', onclick='return false')
          | Toggle Fullscreen
          i.iconHidden &#128187;
      // li
      //   a.nav-help(href='/quick/meeting')
      //     | Quick Meeting
      //     i.iconHidden &#128101;
      // li
      //   a.nav-help(href='/#/about')
      //     | About
      //     i.iconHidden &#59170;

  script(src='/js/room.js')
  script.
    callDoctor(
      "!{sessionId}"
    , "!{token}"
    , "!{API_KEY}"
    , 'mirror'
    , 'doctor'
    , function(sendAvatar, sendName, session) {

      $('button.sendName').click(function() {
        sendName($('input.name').val());
        sendAvatar();
      })

      templatizer.public.chat.chat('patient', $('.chat'), session)

    })

    new EventSource('/session/!{_id}')
