extends ../layout

block content
  h1 Room
    #mirror
    button.sendAvatar Take Picture

    br
    br
    input.name(type="text", placeholder="Type your name here")
    button.sendName Tell the doctor your name

    #doctor

  script(src='/js/room.js')
  script.
    callDoctor(
      "!{sessionId}"
    , "!{token}"
    , "!{API_KEY}"
    , 'mirror'
    , 'doctor'
    , function(sendAvatar, sendName) {
      $('button.sendAvatar').click(sendAvatar)
      $('button.sendName').click(function() {
        sendName($('input.name').val())
      })
    })
    
    new EventSource('/session/!{_id}')
