/* GLOBALS */

$green: #759b2f;

@keyframes chat-open {
        from {height:0px;}
        to {height:300px;}
      }

@-webkit-keyframes chat-open {
        from {height:0px;}
        to {height:300px;}
      }

@keyframes dash-hide {
  from {left:0;}
  to {left:-300px;}
}

@-webkit-keyframes dash-hide {
  from {left:0;}
  to {left:-300px;}
}

@keyframes dash-show {
  from {left:-300px;}
  to {left:0;}
}

@-webkit-keyframes dash-show {
  from {left:-300px;}
  to {left:0;}
}

@keyframes nav-hide {
  from {margin-left:0;}
  to {margin-left:-300px;}
}

@-webkit-keyframes nav-hide {
  from {margin-left:0;}
  to {margin-left:-300px;}
}

@keyframes nav-show {
  from {margin-left:-300px;}
  to {margin-left:0;}
}

@-webkit-keyframes nav-show {
  from {margin-left:-300px;}
  to {margin-left:0;}
}

@keyframes fade {
  0% {opacity:100%;}
  50% {opacity:0%;}
  100% {display:hidden;}
}

@-webkit-keyframes fade {
  0% {opacity:100%;}
  50% {opacity:0%;}
  100% {display:hidden;}
}


html {
  height:100%;
  overflow-x:hidden;
}
body {
  height:100%;
}

a {
  color: #262523;
  text-decoration:none;
  transition:background-color 0.35s;
  -webkit-transition:background-color 0.35s;
  &:hover {
    color: #262523;
    text-decoration:none;
  }
  &:focus {
    color: #262523;
    text-decoration:none;
  }
}