/* GLOBALS */

$green: #759b2f;


html {
  height:100%;
  overflow-x:hidden;
}
body {
  height:100%;
}

a {
  color: #262523;
  text-decoration:none;
  transition:background-color 0.35s;
  -webkit-transition:background-color 0.35s;
  &:hover {
    color: #262523;
    text-decoration:none;
  }
  &:focus {
    color: #262523;
    text-decoration:none;
  }
}