extends ./layout

block content
  include ./includes/navbar
  .banner
    .container
        .row.banner-row
          .col-md-6.introtext1
            .row
              .col-md-12
                h2.banner-head.tk-freight-sans-pro This should be short and sweet and make people want to use doxy.me
  //
     this is where i am going to start putting in marketing stuff 
  .container.marketing
    //
       Three columns of text below the carousel
    .row
      .col-md-4
        a(href='#free')
          img.img-circle(src='/img/doxy-freeimage.jpg', height='150', width='150')
        h2
          | Free
        p.bigp
          | Doxy.me will always support free 1-to-1
      .col-md-4
        a(href='#simple')
          img.img-circle(src='/img/doxy-simpleimage.jpg', height='150', width='150')
        h2
          | Simple
        p.bigp
          | No plugins, no downloads, no signup.
      .col-md-4
        a(href='#Secure')
          img.img-circle(src='/img/doxy-secureimage.jpg', height='150', width='150')
        h2
          | Secure
        p.bigp
          | HIPPA Compliant*, Encypted end-to-end.
    //
       Promo
    .row
      #promo.col-me-12
        p
          | Currently in use in a clinical trial at The University of Utah
        iframe(height='300', frameborder='0', src='http://a.tiles.mapbox.com/v3/theonlypat.map-7832skhy.html#14/40.76789919751926/-111.87146186828612', style='width: 100%;')
