extends ./layout

block content
  include ./includes/navbar
  .banner
    .container
        .row.banner-row
          .col-md-6
            h2.banner-head.tk-freight-sans-pro Free. Simple. Secure.
        .row
          .introtext1.col-md-6
            .row
              .col-md-5
                p Start a Meeting Now! Free Forever
                button.btn.btn-default Quick Meeting
              .col-md-1
                p or
              .col-md-6
                p Schedule a meeting for later
                form.form-horizontal
                  .form-group
                    input.form-control(type='text', id='roomId', placeholder='Date')
                  .form-group
                    input.form-control(type='password', id='password', placeholder='Password')
                  .form-group
                    button.btn.btn-default(type='submit') Schedule Meeting
  //
     this is where i am going to start putting in marketing stuff 
  .container.marketing
    //
       Three columns of text below the carousel
    .row
      .col-md-4
        a(href='#free')
          img.img-circle(src='/img/doxy-freeimage.jpg', height='150', width='150')
        h2
          | Free
        p.bigp
          | Doxy.me will always support free 1-to-1
      .col-md-4
        a(href='#simple')
          img.img-circle(src='/img/doxy-simpleimage.jpg', height='150', width='150')
        h2
          | Simple
        p.bigp
          | No plugins, no downloads, no signup.
      .col-md-4
        a(href='#Secure')
          img.img-circle(src='/img/doxy-secureimage.jpg', height='150', width='150')
        h2
          | Secure
        p.bigp
          | HIPPA Compliant*, Encypted end-to-end.
    //
       Promo
    .row
      #promo.col-me-12
        p
          | Currently in use in a clinical trial at The University of Utah
        iframe(height='300', frameborder='0', src='http://a.tiles.mapbox.com/v3/theonlypat.map-7832skhy.html#14/40.76789919751926/-111.87146186828612', style='width: 100%;')
