extends ./layout

block content
  include ./includes/navbar
  .banner
    .container
        .row.banner-row
          .col-md-6.banner-col
            h2.banner-head.tk-freight-sans-pro Free, Simple, Secure.
        .row
          .introbox.col-md-6
            .row
              .col-md-5.introcol1
                p#quickmeetingtext Start a Meeting Now! Free Forever
                button.btn.btn-quickmeet Quick Meeting
              .col-md-5.introcol2
                p Schedule a meeting for later
                form.form-horizontal
                  .form-group
                    input.form-control(type='text', id='date-and-time', placeholder='ex. Tuesday the 24th @ 5pm')
                  .form-group
                    button.btn.btn-schedule(type='submit') Schedule Meeting
                  .form-group
                    a.text-muted#meetingtext1(href='#') Already have a meeting?
  //
     this is where i am going to start putting in marketing stuff 
  .container.marketing
    //
       Three columns of text below the carousel
    .row
      .col-lg-3.m-block.text-center
        a(href='#free')
          img.img-circle(src='/img/doxy-freeimage.jpg', height='150', width='150')
        h2
          | Free
        p.bigp
          | Doxy.me started with the need for a free telemedicine solution. Today, that option is still available to you. Simply start a quick meeting or schedule a meeting above. No cost, no registration, no kidding. If you desire enhanced capabilities such as personalized URLs, virtual waiting room, shared access, and analytics, a low-cost version is available.
      .col-lg-3.m-block.text-center
        a(href='#simple')
          img.img-circle(src='/img/doxy-simpleimage.jpg', height='150', width='150')
        h2
          | Simple
        p.bigp
          |  Doctors and patients have enough to worry about and remember, we don’t want to add to this. Doxy.me works automatically in supported browsers and most computers available today. There is no specialized hardware to purchase, no additional software downloads or plugins, and no registration required for patients. You can start a telemedicine meeting in seconds.
      .col-lg-3.m-block.text-center
        a(href='#Secure')
          img.img-circle(src='/img/doxy-secureimage.jpg', height='150', width='150')
        h2
          | Secure
        p.bigp
          | Security in health care is of utmost importance. As such, Doxy.me provides a secure, HIPAA-compliant communication tunnel between the doctor and the patient which uses 128-bit /*is this right?*/ AES encryption and [anything else?]. Furthermore, data is never recorded or made accessible to others. You can rest assured that the doctor and patient are the only ones who know what is going on during the Doxy.me call.
    //
       Promo
    .row
      #promo.col-me-12
        p.text-center
          | Currently in use in a clinical trial at The University of Utah
        iframe(height='300', frameborder='0', src='http://a.tiles.mapbox.com/v3/theonlypat.map-7832skhy.html#14/40.76789919751926/-111.87146186828612', style='width: 100%;')
    .row
      #footer.col-me-12.text-center
        a(href='#') Quick Meeting
        a(href='#') Schedule A Meeting
        a(href='#') Sign In
        a(href='#') About
        a(href='#') Contact
        a(href='#') Pricing
    .row
      #copyright.col-me-12.text-center
        Copyright 2013 Doxy.me All Rights Reserverd
