.navbar-doxy {
  /*background-color: #262523;*/
  background-color:#fff;
  border-color: #eee;
  height:90px;
}
.navbar-doxy-brand {
  padding:0!important;
}
.logotab {
  position:fixed;
  top:0;
  /*background-color:#eee;*/
  padding:0 1em;
  transition:background-color 0.35s;
  -webkit-transition:background-color 0.35s;
  animation:slideInDown 1s ease-in-out;
  -webkit-animation:slideInDown 1s ease-in-out;
}
.logotab:hover {
  background-color:#759b2f;
}
@keyframes drop {
  0%{transform:translateY(-50px);}
  100%{transform:translateY(0px);}
}
@-webkit-keyframes drop {
  0%{-webkit-transform:translateY(-50px);}
  100%{-webkit-transform:translateY(0px);}
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
.logoimage {
  height:50px;
  padding-top:5px;
  margin-bottom:10px;
}
.navbar-nav>li>a {
  height:90px;
  padding:33px 30px 15px;
}
.navbar-nav>li>a:hover {
  color:white;
}

.navbar .nav>li>a.brand{
  padding-left:20px;
  margin-left:0;
}
.nav>li>a {
  background-color:#eee;
}
.nav>li>a:hover {
  background-color:#759b2f;
}
.caret {
  border-top-color:#759b2f!important;
  border-bottom-color:#759b2f!important;
}
.dropdown-toggle:hover>.caret {
  border-top-color:#fff!important;
  border-bottom-color:#fff!important;
}

.dropdown-menu>li>a:hover {
  color:#333;
  background-color:#fff;
}

.content{
  margin-top:0px;
  width:100%;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#ddd;
  -webkit-box-shadow:0 8px 6px 6px black;
  -moz-box-shadow:0 8px 6px 6px black;
  box-shadow:0 8px 6px 6px black;
}

footer p{
  padding:5px 0 12px 10px;
}

.upcase {
  text-transform:uppercase;
}