/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

}

body {
  padding-top: 50px;
  padding-bottom: 30px;
}

body, h2, h1 {
  /*font-family: 'exo-regular';*/
}

.pad-body {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

/*
#navbar-index {
  background-color: #eee;
  border-color: #eee;
}
*/

#icon-nav {
  padding:0;
  margin-top:0px;
  margin-bottom:0px;
  margin-right: 10px;
  max-height: 60px;
  overflow: visible;
  float: left;
}

#navbar-index-tittle{
    font-size:26px;
    line-height:30px;
}
.navbar-index-right{
    line-height:30px;
}
/*
.exo-black-tittle {
  font-family: 'exo-black';
}
.exo-bold-tittle h1 {
  font-weight: bold;
}
*/
.newrocker-tittle {
  font-family: 'newrocker';
}
#jumb-cover{
  background: white url('../images/portada.png'); right no-repeat;
  background-size: cover;
  border-radius: 0px;
}

/*
@media screen and (max-width: 1024px) { 
  #jumb-cover {
    //left: 50%;
    margin-left: -512px;   
  }
  #jumb-cont {
    padding-left: 524px;
    margin-right:auto;
  }
}
*/
.bigp {
    font-size:18px;
}
 /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
div.addthis_toolbox {
    width:180px;
    margin: 0 auto;
}

#promo {
  font-size: 26px;
  margin: auto;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

#mc_embed_signup{background:#fff; clear:left; font:14px; max-width:500px}