/* GLOBALS */
@keyframes chat-open {
  /* line 6, ../sass/globals.scss */
  from {
    height: 0px;
  }

  /* line 7, ../sass/globals.scss */
  to {
    height: 300px;
  }
}

@-webkit-keyframes chat-open {
  /* line 11, ../sass/globals.scss */
  from {
    height: 0px;
  }

  /* line 12, ../sass/globals.scss */
  to {
    height: 300px;
  }
}

@keyframes dash-hide {
  /* line 16, ../sass/globals.scss */
  from {
    left: 0;
  }

  /* line 17, ../sass/globals.scss */
  to {
    left: -300px;
  }
}

@-webkit-keyframes dash-hide {
  /* line 21, ../sass/globals.scss */
  from {
    left: 0;
  }

  /* line 22, ../sass/globals.scss */
  to {
    left: -300px;
  }
}

@keyframes dash-show {
  /* line 26, ../sass/globals.scss */
  from {
    left: -300px;
  }

  /* line 27, ../sass/globals.scss */
  to {
    left: 0;
  }
}

@-webkit-keyframes dash-show {
  /* line 31, ../sass/globals.scss */
  from {
    left: -300px;
  }

  /* line 32, ../sass/globals.scss */
  to {
    left: 0;
  }
}

@keyframes nav-hide {
  /* line 36, ../sass/globals.scss */
  from {
    margin-left: 0;
  }

  /* line 37, ../sass/globals.scss */
  to {
    margin-left: -300px;
  }
}

@-webkit-keyframes nav-hide {
  /* line 41, ../sass/globals.scss */
  from {
    margin-left: 0;
  }

  /* line 42, ../sass/globals.scss */
  to {
    margin-left: -300px;
  }
}

@keyframes nav-show {
  /* line 46, ../sass/globals.scss */
  from {
    margin-left: -300px;
  }

  /* line 47, ../sass/globals.scss */
  to {
    margin-left: 0;
  }
}

@-webkit-keyframes nav-show {
  /* line 51, ../sass/globals.scss */
  from {
    margin-left: -300px;
  }

  /* line 52, ../sass/globals.scss */
  to {
    margin-left: 0;
  }
}

@keyframes fade {
  /* line 56, ../sass/globals.scss */
  0% {
    opacity: 100%;
  }

  /* line 57, ../sass/globals.scss */
  50% {
    opacity: 0%;
  }

  /* line 58, ../sass/globals.scss */
  100% {
    display: hidden;
  }
}

@-webkit-keyframes fade {
  /* line 62, ../sass/globals.scss */
  0% {
    opacity: 100%;
  }

  /* line 63, ../sass/globals.scss */
  50% {
    opacity: 0%;
  }

  /* line 64, ../sass/globals.scss */
  100% {
    display: hidden;
  }
}

/* line 68, ../sass/globals.scss */
html {
  height: 100%;
  overflow-x: hidden;
}

/* line 72, ../sass/globals.scss */
body {
  height: 100%;
}

/* line 76, ../sass/globals.scss */
a {
  color: #262523;
  text-decoration: none;
  transition: background-color 0.35s;
  -webkit-transition: background-color 0.35s;
}
/* line 81, ../sass/globals.scss */
a:hover {
  color: #262523;
  text-decoration: none;
}
/* line 85, ../sass/globals.scss */
a:focus {
  color: #262523;
  text-decoration: none;
}
