/*-- THE BIG CHEESE --*/
/* _globals.scss */
/* GLOBALS */
@keyframes chat-open {
  /* line 6, ../sass/globals.scss */
  from {
    height: 0px;
  }

  /* line 7, ../sass/globals.scss */
  to {
    height: 300px;
  }
}

@-webkit-keyframes chat-open {
  /* line 11, ../sass/globals.scss */
  from {
    height: 0px;
  }

  /* line 12, ../sass/globals.scss */
  to {
    height: 300px;
  }
}

/* line 15, ../sass/globals.scss */
html {
  height: 100%;
  overflow-x: hidden;
}

/* line 19, ../sass/globals.scss */
body {
  height: 100%;
}

/* line 23, ../sass/globals.scss */
a {
  color: #262523;
  text-decoration: none;
  transition: background-color 0.35s;
  -webkit-transition: background-color 0.35s;
}
/* line 28, ../sass/globals.scss */
a:hover {
  color: #262523;
  text-decoration: none;
}
/* line 32, ../sass/globals.scss */
a:focus {
  color: #262523;
  text-decoration: none;
}

/* Bootstrap Overrides */
/* line 7, ../sass/main.scss */
.navbar {
  margin-bottom: 0px !important;
  padding-top: 1.25rem !important;
  padding-bottom: 0.3125rem !important;
}

/* line 12, ../sass/main.scss */
.navbar-doxy {
  background-color: #fff;
  border: none;
}

/* line 16, ../sass/main.scss */
.navbar-form {
  margin-top: 0 !important;
}

/* line 21, ../sass/main.scss */
.nav .open a {
  border-color: #759b2f !important;
}
/* line 23, ../sass/main.scss */
.nav .open a:focus {
  border-color: #759b2f !important;
}

/* line 29, ../sass/main.scss */
.caret {
  border-top-color: #759b2f !important;
  border-bottom-color: #759b2f !important;
}

/* line 33, ../sass/main.scss */
.dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 39, ../sass/main.scss */
.dropdown-menu a:hover {
  color: #759b2f !important;
  background-color: transparent !important;
}

/* line 45, ../sass/main.scss */
.btn-signin {
  background: transparent;
  border: 1px solid #759b2f;
  color: #759b2f;
  transition: background-color 0.25s, color 0.25s;
  margin: 1rem 0 0;
  font-size: 1.6rem;
}

/* line 53, ../sass/main.scss */
.btn-signin:hover {
  background-color: #759b2f;
  color: #fff;
}

/* line 57, ../sass/main.scss */
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: solid 1px #ddd;
  margin: 1rem 0 0;
  font-size: 1.6rem;
}

/* line 64, ../sass/main.scss */
.form-group {
  margin: 0 0.5rem 0 0;
}

/* NAVBAR MUTHA FUCKA */
/*Add these ids and adjust the html around them*/
/* line 69, ../sass/main.scss */
.help-links {
  float: right !important;
  padding: 0 0.625rem 0 0;
}
/* line 73, ../sass/main.scss */
.help-links a {
  text-decoration: underline;
}

/* line 77, ../sass/main.scss */
#forgot-link {
  font-size: 1.3rem;
  padding: 0 1rem 0 0;
}

/* line 81, ../sass/main.scss */
#signup-link {
  font-size: 1.3rem;
}

/* Banner - the background img and Quick Meeting / schedule Meeting form */
/* line 87, ../sass/main.scss */
.banner {
  background: transparent url("/img/secure-doxy_bg2.png") 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 0;
}

/* line 96, ../sass/main.scss */
.banner-col {
  margin-left: 4.5rem;
}

/* line 99, ../sass/main.scss */
.banner-head {
  color: #fff;
  font-size: 4rem;
  line-height: 1.5;
  margin: 0 0 5rem !important;
  letter-spacing: 0.25rem;
  font-weight: 500;
}

/* line 107, ../sass/main.scss */
.banner-row {
  margin-top: 8rem;
}

/*---index page styles---*/
/* line 112, ../sass/main.scss */
.introbox {
  padding: 3rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 6px;
  margin-left: 45px;
}

/* line 119, ../sass/main.scss */
.introcol1 {
  margin: 25px;
  border-right: 1px #fff solid;
}

/* line 123, ../sass/main.scss */
.introcol2 {
  padding: 0 0.5rem;
  font-size: 1.6rem;
}

/* line 127, ../sass/main.scss */
.introcol2 > p {
  text-align: left;
  color: #fff;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

/* line 135, ../sass/main.scss */
#quickmeetingtext {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  /*letter-spacing:0.1em;*/
}

/* line 141, ../sass/main.scss */
.btn-quickmeet {
  width: 100%;
  color: #fff;
  background-color: #759b2f;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding: 1.20rem 1.75rem;
  font-size: 1.8rem;
  transition: color 0.25s;
}

/* line 153, ../sass/main.scss */
.btn-schedule {
  width: 100%;
  color: #000;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
  transition: background-color 0.25s, color 0.25s;
}
/* line 163, ../sass/main.scss */
.btn-schedule:hover {
  background-color: #759b2f;
  color: #fff;
}

/*Remove the 'Click here' part*/
/* line 169, ../sass/main.scss */
#meetingtext1 {
  color: #666;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  font-size: 1.4rem;
  transition: color 0.25s;
}
/* line 176, ../sass/main.scss */
#meetingtext1:hover {
  color: #fff;
  text-decoration: none;
}

/* marketing blocks */
/* line 183, ../sass/main.scss */
.m-block {
  position: relative;
  top: -11rem;
  background-color: white;
  margin: 1.5rem;
  width: 30%;
  padding: 4rem 2rem 0;
  font-size: 1.7rem;
}
/* line 192, ../sass/main.scss */
.m-block h2 {
  font-size: 4rem;
}

/* line 197, ../sass/main.scss */
.bigp {
  text-align: left;
}

/* line 201, ../sass/main.scss */
#promo {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 1.5rem;
}

/* line 209, ../sass/main.scss */
#footer a {
  padding: 0 1rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
}
/* line 214, ../sass/main.scss */
#footer a:hover {
  background-color: #ddd;
  color: #444;
}

/* line 221, ../sass/main.scss */
#copyright {
  font-weight: 300;
  font-size: 2rem;
}

/*-- Dashbaord Styles yo --*/
/*CHATBOX*/
/* line 230, ../sass/main.scss */
#hideShowMessages {
  background-color: #ddd;
  border: 1px solid #ccc;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #777;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}
/* line 241, ../sass/main.scss */
#hideShowMessages:hover {
  background-color: #759b2f;
  color: #fff;
  border-color: #759b2f;
}

/* line 248, ../sass/main.scss */
#chatbox {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  width: 18%;
}

/* line 255, ../sass/main.scss */
#messages {
  display: none;
  overflow-y: scroll;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #ddd;
  border-radius: 0px;
  height: 40rem;
  letter-spacing: .1rem;
  margin-bottom: 0px;
  padding: .5rem 1rem;
  width: 100%;
  color: #444;
  font-weight: 300;
}

/* line 269, ../sass/main.scss */
#chatinput {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #ddd;
  border-radius: 0px;
  height: 4rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0px;
  padding: .5rem 1rem;
  width: 100%;
}

/* SIGNIN */
/* line 283, ../sass/main.scss */
#signin-logo {
  margin-top: 4rem;
  text-align: center;
}
/* line 287, ../sass/main.scss */
#signin-logo img {
  max-width: 300px;
}

/* line 291, ../sass/main.scss */
.logintitle {
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 4rem;
}

/* line 296, ../sass/main.scss */
.signin {
  margin-top: 2rem;
}
/* line 299, ../sass/main.scss */
.signin label {
  font-weight: 200;
  text-align: left;
  display: none;
}
/* line 305, ../sass/main.scss */
.signin input {
  padding: 2.5rem;
  /*border-radius:0;*/
  margin-bottom: 1rem;
}
/* line 311, ../sass/main.scss */
.signin #forgot-password {
  text-decoration: underline;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  text-align: center;
}
/* line 317, ../sass/main.scss */
.signin #forgot-password a {
  color: #759b2f;
}
/* line 319, ../sass/main.scss */
.signin #forgot-password a:hover {
  color: #414042;
}
/* line 325, ../sass/main.scss */
.signin p {
  /*text-transform:uppercase;*/
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: -.35rem;
}
/* line 332, ../sass/main.scss */
.signin button {
  width: 100%;
  /*border-radius: 0;*/
  padding: 1.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

/* DASHBOARD */
/* Doctor View */
/* line 346, ../sass/main.scss */
.dash {
  margin: 0 !important;
  height: 100%;
  padding-top: 0;
}

/* line 351, ../sass/main.scss */
.dash-closed {
  display: none;
}

/* line 354, ../sass/main.scss */
#rooms {
  /*margin:2rem 0 0;*/
  background-color: #414042;
  height: 100%;
  padding: 2rem 0 0;
}
/* line 360, ../sass/main.scss */
#rooms .row {
  margin: 0;
}

/* line 364, ../sass/main.scss */
.roomBox {
  border-right: 1px solid #ddd;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  transition: background-color 0.5s;
}
/* line 370, ../sass/main.scss */
.roomBox:hover {
  background-color: #eee;
}

/* line 374, ../sass/main.scss */
.drglyph {
  top: 0px !important;
  margin: 0 2rem 0 0 !important;
  font-size: 2rem !important;
}

/* line 380, ../sass/main.scss */
.room .roomname {
  background-color: #759b2f;
  width: 100%;
  padding: 2rem;
}
/* line 385, ../sass/main.scss */
.room #dricon {
  font-size: 2.3rem;
  margin: 0 1rem 0 0;
}
/* line 389, ../sass/main.scss */
.room h2 {
  color: #231f20;
  font-family: 'freight-sans-pro';
  font-weight: 500;
  display: inline;
}
/* line 395, ../sass/main.scss */
.room #dash-arrow {
  height: 0;
  width: 0;
  border-width: 1.8rem;
  border-style: solid;
  border-right-color: white;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 4rem;
  right: 0;
  transistion: all 0.5s;
  -webkit-transistion: all 0.5s;
}
/* line 410, ../sass/main.scss */
.room #dash-arrow-closed {
  height: 0;
  width: 0;
  border-width: 1.8rem;
  border-style: solid;
  border-right-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 4rem;
  right: -3.6rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
/* line 425, ../sass/main.scss */
.room h4 {
  color: white;
  font-family: 'freight-sans-pro';
  font-weight: 300;
  padding-bottom: .5rem;
  margin: 2rem 0 0 2rem;
  display: inline-block;
  letter-spacing: .1rem;
}
/* line 434, ../sass/main.scss */
.room #waitingchev {
  display: inline;
  color: white;
  margin: 0 0 0 5.5rem;
}
/* line 439, ../sass/main.scss */
.room ul {
  list-style: none;
  margin: 2rem 0 0 -4rem;
  /*background-color:#58595b;*/
  /*padding:1rem 0 4.5rem;*/
}
/* line 445, ../sass/main.scss */
.room ul .session {
  margin: 0 0 1.5rem;
  background-color: #58595b;
  padding: 1rem 2rem 2.5rem;
  width: 100%;
}
/* line 450, ../sass/main.scss */
.room ul .session:hover {
  background-color: #777;
}
/* line 454, ../sass/main.scss */
.room ul .session .name {
  background-color: transparent;
  color: white;
  /*float:left;*/
  /*padding:1.5rem 0 1rem;*/
  margin: 0;
  font-weight: 200;
  letter-spacing: .2rem;
  display: inline-block;
}
/* line 465, ../sass/main.scss */
.room ul .session img {
  border-radius: 50%;
  display: inline-block;
  float: right;
  /*margin:0 0 0 .9rem;*/
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
/* line 472, ../sass/main.scss */
.room ul .session img:hover {
  cursor: pointer;
  transform: scale(1.25);
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
}
/* line 480, ../sass/main.scss */
.room ul .session .chat-notification {
  color: white;
  /*float:right;*/
  margin: 0 0 0 6rem;
  padding: 0;
  display: inline-block;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* line 488, ../sass/main.scss */
.room ul .session .chat-notification:hover {
  cursor: pointer;
  color: #ccc;
}
/* line 498, ../sass/main.scss */
.room ul .session .chat {
  display: none;
}
/* line 502, ../sass/main.scss */
.room ul .session .open {
  display: block;
  position: absolute;
  bottom: 0;
  right: -500%;
}
/* line 508, ../sass/main.scss */
.room ul .session .open .chat-box {
  width: 240px;
  border-top: 1rem #ccc solid;
  border-left: 1px #ccc solid;
}
/* line 513, ../sass/main.scss */
.room ul .session .open .chat-box .messages {
  height: 300px;
  background: #f5f5f5;
  overflow-y: scroll;
  padding: .5rem 0 0;
  margin: 0;
  list-style: none;
  animation: chat-open 0.5s ease-out;
  -webkit-animation: chat-open 0.5s ease-out;
}
/* line 524, ../sass/main.scss */
.room ul .session .open .chat-box .messages li {
  margin: 0;
  padding: .5rem .8rem .2rem;
  /*color:#58595b;*/
}
/* line 531, ../sass/main.scss */
.room ul .session .open .chat-box .messages .patient {
  /*background-color: #fff;*/
  text-align: right;
  color: #58595b;
}
/* line 537, ../sass/main.scss */
.room ul .session .open .chat-box .messages .doctor {
  /*background-color: #bbb;*/
  text-align: left;
  color: #759b2f;
}
/* line 544, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry {
  border-top: 1px solid #ccc;
}
/* line 547, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry button {
  padding: 1rem 1rem 1rem 0;
  border: none;
  background-color: transparent;
  color: #759b2f;
  float: right;
  display: none;
}
/* line 555, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry input {
  padding: 1rem 0 1rem 1rem;
  width: 80%;
  border: none;
  background: transparent;
  color: #444;
  cursor: text;
  -webkit-appearance: none;
}
/* line 563, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry input:focus {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
}
/* line 571, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry ::-webkit-input-placeholder {
  color: #999;
}
/* line 575, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry :-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}
/* line 579, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}
/* line 583, ../sass/main.scss */
.room ul .session .open .chat-box .message-entry :-ms-input-placeholder {
  color: #999;
}

/* ROOMS */
/* Patient View */
/* line 597, ../sass/main.scss */
#video {
  height: 100%;
}
/* line 600, ../sass/main.scss */
#video .name {
  padding: .5rem;
  border: 1px solid #ccc;
}
/* line 606, ../sass/main.scss */
#video .sendName {
  padding: 1rem 1rem 1rem 0;
  border: none;
  background-color: transparent;
  color: #759b2f;
  float: right;
}
/* line 614, ../sass/main.scss */
#video .chat {
  display: none;
}
/* line 618, ../sass/main.scss */
#video .open {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all ease-in;
}
/* line 625, ../sass/main.scss */
#video .open .chat-box {
  width: 240px;
  border-top: 1rem #ccc solid;
  border-left: 1px #ccc solid;
}
/* line 630, ../sass/main.scss */
#video .open .chat-box .messages {
  height: 300px;
  background: #f5f5f5;
  overflow-y: scroll;
  padding: .5rem 0 0;
  margin: 0;
  list-style: none;
}
/* line 638, ../sass/main.scss */
#video .open .chat-box .messages li {
  margin: 0;
  padding: .5rem .8rem .2rem;
  /*color:#58595b;*/
}
/* line 644, ../sass/main.scss */
#video .open .chat-box .messages .patient {
  /*background-color: #fff;*/
  text-align: right;
  color: #58595b;
}
/* line 650, ../sass/main.scss */
#video .open .chat-box .messages .doctor {
  /*background-color: #bbb;*/
  text-align: left;
  color: #759b2f;
}
/* line 657, ../sass/main.scss */
#video .open .chat-box .message-entry {
  border-top: 1px solid #ccc;
}
/* line 660, ../sass/main.scss */
#video .open .chat-box .message-entry button {
  padding: 1rem 1rem 1rem 0;
  border: none;
  background-color: transparent;
  color: #759b2f;
  float: right;
  display: none;
}
/* line 668, ../sass/main.scss */
#video .open .chat-box .message-entry input {
  padding: 1rem 0 1rem 1rem;
  width: 80%;
  border: none;
  background: transparent;
  color: #444;
  cursor: text;
  -webkit-appearance: none;
}
/* line 676, ../sass/main.scss */
#video .open .chat-box .message-entry input:focus {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
}
/* line 684, ../sass/main.scss */
#video .open .chat-box .message-entry ::-webkit-input-placeholder {
  color: #999;
}
/* line 688, ../sass/main.scss */
#video .open .chat-box .message-entry :-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}
/* line 692, ../sass/main.scss */
#video .open .chat-box .message-entry ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}
/* line 696, ../sass/main.scss */
#video .open .chat-box .message-entry :-ms-input-placeholder {
  color: #999;
}

/* line 704, ../sass/main.scss */
.nav-help {
  background-color: #414042;
  height: 100%;
  color: #fff;
}
/* line 709, ../sass/main.scss */
.nav-help ul {
  list-style: none;
}

/*--- Begin Meeting Prompt Arrow styles ---*/
@keyframes arrow {
  /* line 716, ../sass/main.scss */
  0% {
    top: 0;
  }

  /* line 717, ../sass/main.scss */
  50% {
    top: 10px;
  }

  /* line 718, ../sass/main.scss */
  100% {
    top: 0;
  }
}

@-webkit-keyframes arrow {
  /* line 721, ../sass/main.scss */
  0% {
    top: 0;
  }

  /* line 722, ../sass/main.scss */
  50% {
    top: 10px;
  }

  /* line 723, ../sass/main.scss */
  100% {
    top: 0;
  }
}

/* line 725, ../sass/main.scss */
#promptArrow {
  margin: 0 auto;
  position: absolute;
  animation: arrow 0.75s ease 1s infinite;
  -webkit-animation: arrow 0.75s ease 1s infinite;
  top: 0;
  right: 0;
  width: 140px;
  z-index: 1100000001;
}

/* line 735, ../sass/main.scss */
.promptContainer {
  background: none;
  width: 70px;
  height: 70px;
  margin: 0 35px !important;
}
/* line 741, ../sass/main.scss */
.promptContainer p {
  text-align: center;
  margin: 0 0 0 20px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: .25em;
}

/* line 749, ../sass/main.scss */
.triangle {
  background: none;
  width: 0;
  height: 0;
  border-bottom: 60px solid #759b2f;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  display: block;
  margin: 0 0 0 45px;
}

/* line 759, ../sass/main.scss */
.box {
  width: 35px;
  height: 55px;
  background: #759b2f;
  display: block;
  margin: -25px 62px 0;
}

/*NEW STUFF*/
/*The biggest and badest stylesheet uyou have ever seen for Doxy.me*/
/* line 783, ../sass/main.scss */
#messages {
  overflow: scroll;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 0px 0px;
  font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 400px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 255px;
}

/* line 796, ../sass/main.scss */
span.chat-notification {
  font-size: 25px;
  /*margin-left: 5px;*/
  /*color: black;*/
}

/* line 804, ../sass/main.scss */
#dashboard {
  height: 100px;
  width: 100px;
}

/* line 809, ../sass/main.scss */
#myPublisherDiv {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 814, ../sass/main.scss */
#myPublisherDiv .OT_publisher {
  border: .3rem solid #ddd;
}

/* line 820, ../sass/main.scss */
#theirPublisherDiv .patient-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -100000000;
}
/* line 829, ../sass/main.scss */
#theirPublisherDiv .patient-video.invisible {
  left: -999999px;
}
