/* Bootstrap Overrides */
.navbar {
  margin-bottom: 0px !important;
  padding-top:1.25rem!important;
  padding-bottom:0.3125rem!important;
}
.navbar-doxy {
  background-color:#fff;
  border:none;
}
.navbar-form {
  margin-top:0!important;
}
.btn-signin {
  background:transparent;
  border: 1px solid #759b2f;
  color:#759b2f;
  transition: background-color 0.25s, color 0.25s;
  margin:1rem 0 0;
}
.btn-signin:hover {
  background-color:#759b2f;
  color:#fff;
}
.form-control {
  box-shadow:none;
  -webkit-box-shadow:none;
  border:solid 1px #ddd;
  margin:1rem 0 0;
}
.form-group {
  margin:0 0.5rem 0 0;
}
/* NAVBAR MUTHA FUCKA */
/*Add these ids and adjust the html around them*/
.help-links {
  float:right!important;
  padding:0 0.625rem 0 0;
}
.help-links a {
  text-decoration:underline;
}
#forgot-link {
  font-size:1.05rem;
  padding:0 1rem 0 0;
}
#signup-link {
  font-size:1.05rem;
}

/*--- Begin Universal Styles --*/
a {
  color: #262523;
  text-decoration:none;
  transition:background-color 0.35s;
  -webkit-transition:background-color 0.35s;
}
a:hover {
  color: #262523;
  text-decoration:none;
}

/* Banner - the background img and Quick Meeting / schedule Meeting form */
.banner {
  background: transparent  url('/img/secure-doxy_bg2.png') 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  height: 650px;
  width: 100%;
  margin-bottom: 1em;
  margin-top:0;
}
.banner-col {
  margin-left:4.5rem;
}
.banner-head {
  color:#fff;
  font-size:4rem;
  line-height:1.5;
  margin:0 0 5rem!important;
  letter-spacing:0.25rem;
  font-weight:500;
}
.banner-row {
  margin-top:10rem;
}

/*---index page styles---*/
.introbox {
  padding: 3rem 1rem;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid white;
  border-radius: 6px;
  margin-left:45px;
}
.introcol1 {
  margin:25px;
  border-right:1px #fff solid;
}
.introcol2 {
  padding: 0 0.5rem;
}
.introcol2>p {
  text-align:left;
  color:#fff;
}
#quickmeetingtext {
  color:#fff;
  font-size:2rem;
  font-weight:200;
  /*letter-spacing:0.1em;*/
}
.btn-quickmeet {
  width:100%;
  color:#fff;
  background-color:#759b2f;
  text-transform:uppercase;
  font-weight:300;
  letter-spacing:0.1rem;
  padding:1.20rem 1.75rem;
  font-size:1.8rem;
}

.btn-schedule {
  width:100%;
  color:#333;
  background-color:#eee;
  text-transform:uppercase;
  font-weight:500;
  font-size:1.5rem;
  margin:1rem 0;
}
.btn-schedule:hover {
  background-color:#ddd;
  color:#759b2f;
}
/*Remove the 'Click here' part*/
#meetingtext1 {
  color:#666;
  padding:0;
  margin:0;
  text-decoration: underline;
  font-size:1.25rem;
}

/* marketing blocks */
.m-block {
  position: relative;
  top: -110px;
  background-color: white;
  margin: 15px;
  width: 30%;
}
/*--- Begin Meeting Prompt Arrow styles ---*/
@keyframes arrow {
  0% {top:0;}
  50% {top:10px;}
  100% {top:0;}
}
@-webkit-keyframes arrow {
  0% {top:0;}
  50% {top:10px;}
  100% {top:0;}
}
#promptArrow {
  margin:0 auto;
  position:absolute;
  animation: arrow 0.75s ease 1s infinite;
  -webkit-animation: arrow 0.75s ease 1s infinite;
  top:0;
  right:0;
  width:140px;
  z-index:1100000001;
}
.promptContainer {
  background: none;
  width: 70px;
  height: 70px;
  margin:0 35px!important;
}
.triangle {
  background: none;
  width: 0;
  height: 0;
  border-bottom: 60px solid #759b2f; 
  border-left: 34px solid transparent; 
  border-right: 34px solid transparent;
  display:block;
  margin:0 0 0 45px;
}
.box {
  width: 35px;
  height: 55px;
  background: #759b2f;
  display:block;
  margin:-25px 62px 0;
}
#promptArrow p {
  text-align:center;
  margin:0 0 0 20px;
  padding:10px 0;
  background-color:#fff;
  border-radius:.25em;
}

#chatbox {
  position: absolute;
  right: 20px;
  bottom: 0px;
  z-index: 1;
}

#chatinput {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 0px 0px 5px 5px;
  font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 40px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 277px;
}

#messages {
  overflow: scroll;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 0px 0px;
  font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
  height: 400px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 255px;
}






/*NEW STUFF*/
/*The biggest and badest stylesheet uyou have ever seen for Doxy.me*/







