extends auth

block auth
  form.signin.form-horizontal(action="/users/session", method="post")
    p.error= message
    .form-group
      label.control-label.col-lg-2(for='email') Email
      .col-lg-10
        input#email.form-control(type='email', name="email", placeholder='Email')

    .form-group
      label.control-label.col-lg-2(for='password') Password
      .col-lg-10
        input#password.form-control(type='password', name="password", placeholder='Password')

    .form-group
      .col-lg-offset-2.col-lg-10
        button.btn.btn-signin(type='submit') Sign in
      //- &nbsp;
      //- | or&nbsp;
      //- a.show-signup(href="/signup") Sign up
