<div data-ng-controller="WaitingController" data-ng-init="find()">
  <div class="container">
    <div id="myPublisherDiv"></div>
    <div id="theirPublisherDiv"></div>
    <div class="meetingNav">
      <ul>
        <li class="meetingLi"><a class="side-nav" href="#">Need Help? <i class="iconShow iconNav"> &#59140;</i></a>
        <div class="helpinfo">
          <h2>Connection Tips</h2>
          <h4>Feed Quality</h4>
          <p>Best practices: (<em>these are only recommendations, they are not required to be followed</em>)</p>
          <ul class="tips-list">
            <li><strong>Use good lighting.</strong> We have found that lighting makes a big difference in picture quality. Make sure the light is facing you (not behind you). Also natural light source such as a window produce the best picture. </li>
            <li><strong>Use a laptop.</strong> Most laptops today come with a camera, speakers, and microphone built in. Laptops make it much easier for your browser to connect to your camera, speakers, and microphone.</li>
            <li><strong>Use headphones.</strong> We’ve found that using headphones makes it easier to hear your participant and for your participant to hear you. If you do this, your participant won’t hear their voice echoing in the background. If you want to be really fancy, use headphones with built in microphones (like the free one that comes with your iPhone) tend to work really well. </li>
            <li><strong>Limit internet usage during call.</strong> Don’t stream or download large files, music, or movies during the call. This tends to take up a lot of bandwidth which Doxy.me needs for a good quality video call. </li>
            <li><strong>Close unused desktop applications.</strong> You computer is used to render the video for the call. Free up some computer processing power by closing applications you aren’t using at the moment. </li>
          </ul>
          <p>My connection audio/video is choppy</p>
          <ul class="tips-list">
            <li>Sometimes the audio and video will be choppy for the first minute or two as the connection is being established. This is normal. Usually after a minute or two the video connection will clear up.</li>
            <li>Also make sure you or your participant don’t have concurrent internet connections taking up large amounts of bandwidth (like downloading large files, music, movies, several web pages open at the same time, etc). </li>
            <li>If you are on a slow internet connection, the video quality is limited by how fast your internet service is able to upload and download the video feed.</li>
            <li>If you have an older computer or if you have several programs open and running, sometimes the video card will have a hard time keeping up with the video rendering. It may help if you close unused desktop applications to free up computer power for the video call.
            </li>
            <li>Sometimes wireless networks can get really busy with internet traffic if you have a lot of people using the same router, we’ve found that connecting directly to your network with a ethernet cable can improve connections.</li>
          </ul>
          <h4>Connection issues</h4>
          <p>I’m unable to hear or see myself in the video.</p>
          <ul class="tips-list">
            <li>Make sure you are using Chrome or Firefox (22.0 or later).</li>
            <li>Make sure your computer has a camera and microphone and speakers.</li>
            <li>Make sure you have ‘Allowed’ the browser to access your camera and microphone.</li>
            <li>Make sure your speakers are turned on and unmuted.</li>
            <li>Make sure your camera is turned on and that nothing is covering your camera view.</li>
            <li>Some networks have firewalls which block the audio/video feed. You will need to contact your network administrator to add an exemption to allow the feed through the firewall.</li>
          </ul>
          <p>I’m unable to connect with the participant or it still says ‘waiting to connect’.</p>
          <ul class="tips-list">
            <li>Your participant may just be running late, you can wait in the meeting room until they connect. Refresh your browser every few minutes just to make sure they aren’t waiting as well. </li>
            <li>Make sure your participant is using Chrome or Firefox (22.0 or later). </li>
            <li>Make sure you participant has 'Allowed’ the browser to access their camera and microphone.</li>
            <li>Make sure you are using the same meeting room as your participant (double check the room ID or the link in the email invite)</li>
            <li>Go to http://www.tokbox.com/user-diagnostic/ and make sure you don’t have any issues.</li>
          </ul>
          <h4>Audio Problems</h4>
          <p>I can see but can't hear my participant</p>
          <ul class="tips-list">
            <li>Make sure you have speakers.</li>
            <li>Make sure your speakers are turned on and unmuted.</li>
            <li>Make sure your participant has a microphone.</li>
            <li>Make sure your participant’s microphone is turned on and unmuted.</li>
          </ul>
          <p>My participant can see but can't hear me</p>
          <ul class="tips-list">
            <li>Make sure your participant has speakers</li>
            <li>Make sure your participant’s speakers are turned on and unmuted.</li>
            <li>Make sure you have a microphone.</li>
            <li>Make sure your microphone is turned on and unmuted.</li>
          </ul>
          <p>Video Problems</p>
          <p>I can hear but can't see my participant</p>
          <ul class="tips-list">
            <li>Make sure your participant has a camera built in or plugged into their computer.</li>
            <li>Make sure your participant’s camera is turned on and nothing is blocking its view.</li>
            <li>If your participant plugs something in, they may need to hit the refresh button on your browser.</li>
          </ul>
          <p>My participant can hear but can't see me</p>
          <ul class="tips-list">
            <li>Make sure your has a camera built in or plugged into your computer.</li>
            <li>Make sure your camera is turned on and nothing is blocking its view.</li>
            <li>If you plug something in, you may need to hit the refresh button on your browser.</li>
          </ul>
        </div>
        </li>
        <!-- <li class="meetingLi"><a class="side-nav" href="#">Text <i class="iconShow iconNav"> &#8962;</i></a></li>
        <li class="meetingLi"><a class="side-nav" href="#">Text <i class="iconShow iconNav"> &#8962;</i></a></li> -->
        <li class="meetingLi"><a class="side-nav" href="#">Patients Currently in Your Waiting Room <i class="iconShow iconNav"> &#128101;</i></a>
        <div class="well" ng-repeat="room in rooms track by room._id">
          <div class="l-box" id="{{room.sessionId}}"></div>
          <p>Joined at: {{room.created | date:'hh:mm:ss a'}}</p>
          <div class="btn btn-sm btn-primary" ng-click="connect(room)">Connect</div>
          <div class="btn btn-sm" ng-click="delete(room)">Delete</div>
        </div>
      </li>
        
      </ul>
    </div>
    <!-- <div class="row">
      <div class="videos col-md-2">
        <div class="well" ng-repeat="room in rooms track by room._id">
          <div class="l-box" id="{{room.sessionId}}"></div>
          <p>Joined at: {{room.created | date:'hh:mm:ss a'}}</p>
          <div class="btn btn-sm btn-primary" ng-click="connect(room)">Connect</div>
          <div class="btn btn-sm" ng-click="delete(room)">Delete</div>
        </div>
      </div>
     </div> -->
    </div>
  </div>
</div>

