extends ../layout

block content
  h1 Sign Up

  form(name="signup", action="/i/users", method="post")
    label First Name:
    input(type="text", name="firstName")
    label Last Name:
    input(type="text", name="lastName")
    label Email:
    input(type="text", name="email")
    label Password:
    input(type="password", name="password")
    input(type="submit", value="Create Account")
